# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
!/android/.gradle
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/checksums/checksums.lock
android/.gradle/checksums/md5-checksums.bin
android/.gradle/checksums/sha1-checksums.bin
android/local.properties
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
android/.gradle/checksums/sha1-checksums.bin
android/local.properties
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/outputFiles.bin
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ios/Runner/GeneratedPluginRegistrant.m
android/local.properties
android/local.properties
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/checksums/checksums.lock
android/.gradle/checksums/md5-checksums.bin
android/.gradle/checksums/sha1-checksums.bin
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ios/Runner/GeneratedPluginRegistrant.m
